* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1em;
}

body {
    /* font-family: Helvetica; */
    background-color: #F9F9F9;
}

/* DARK/LIGHT MODE */

body.dark-mode {
    background-color: #1E1E1E;
}

#darkLightMode {
    width: min-content;
    position: fixed;
    bottom: 1px;
    right: 5px;
}

#darkLightPic {
    background-color: #1E1E1E;
    height: 50px;
    border: 1px solid #1E1E1E;
    border-radius: 8px;
    cursor: pointer;
}

/* HEADER */

header {
    background-color: #1E1E1E;
    position: fixed;
    width: 100%;
}

#headerDiv {
    padding: 2vh 3vw;
    font-size: 1.2rem;

    display: flex;
    justify-content: space-between;
}

.naslovHeader {
    color: #5D3FD3;
}

.naslovSpan {
    color: #C9A7F5;
}

#hamburgerMenu {
    background-color: #C9A7F5;
    height: 5.8vh;
    width: 17%;
    border: 1px solid #C9A7F5;
    border-radius: 7px;
    margin-right: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.hamburgerDeo {
    background-color: #F9F9F9;
    height: 0.8vh;
    width: 10vw;
    display: block;
    margin: 0.1rem auto;
}

#headerLinkovi {
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    gap: 1.2vh;
    align-items: center;
    position: fixed;
    left: -100%;
    top: 9.5vh;
    width: 100%;
    text-align: center;
    transition-duration: 0.3s;
}

.headerLink {
    text-decoration: none;
    color: #5D3FD3;
    font-size: 1.6rem;
    font-weight: 700;
    margin: 1vh 0;
}

.headerLink:hover {
    transition-duration: 0.7s;
    color: #4e36ac;
}

#hamburgerMenu.Active .hamburgerDeo:nth-child(2) {
    opacity: 0;
}

#hamburgerMenu.Active .hamburgerDeo:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

#hamburgerMenu.Active .hamburgerDeo:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

#headerLinkovi.Active {
    left: 0;
}

/* WHY ME */

#secWhyMe {
    height: 52vh;
    padding: 14vh 5vh;
    text-align: center;
    background-image: url(Pictures/WhyMeBackground_White.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-color: rgba(131, 130, 130, 0.2);
    /* Poluprovidna crna */
    background-blend-mode: multiply;
    /* Blend efekt */
}

#whyMeNaslov {
    font-size: 3.5rem;
    margin-bottom: 3.5vh;
    color: #654ebf;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
}

#whyMeText {
    font-size: 1.5rem;
    line-height: 5vh;
    color: #654ebf;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
    font-weight: 700;
}

/* ABOUT ME */

#secAboutMe {
    height: 140vh;
    background-color: #F9F9F9;
    padding: 5vh 0;
    display: flex;
    flex-direction: column;
    gap: 6vh;
}

#aboutMeNaslov {
    text-align: center;
    font-size: 3rem;
    color: #5D3FD3;
}

#aboutMeFlex {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

#aboutMeSlika {
    justify-content: center;
    display: flex;
}

#profilnaSlika {
    border: 3px solid #5D3FD3;
    border-radius: 100px;
    height: 25vh;
}

#aboutMeKartice {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: center;
}

.aboutMeKarta {
    border: 3px solid #5D3FD3;
    border-radius: 8px;
    padding: 3vh;
    height: 25vh;
    width: 65vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #1E1E1E;
    cursor: pointer;

    transition: all 0.7s ease;
}

.aboutMeKarta:hover {
    border: 3px solid #4d29dc;
    background-color: #b9b7b7;
    color: #111010;
}

.hiddenTekst {
    opacity: 0;
}

.vestineOpis {
    color: #3e3e3e;
    text-align: left;
    font-size: 1rem;
    white-space: pre-line;
    line-height: 2vh;
}

.vestine {
    text-align: center;
    font-size: 2rem;
}

.vestine,
.vestineOpis {
    transition: opacity 0.4s ease, transform 0.4s ease;
}

/* PoÄetno stanje */
.fade-in {
    opacity: 1;
    transform: translateY(0);
}

/* Stanje nestajanja */
.fade-out {
    opacity: 0;
    transform: translateY(-10px);
}

#backButton {
    display: none;
}

#backButtonArrow {
    color: #f9f9f9;
}

#miniKartice {
    display: none;
}

.tekstVestine {
    font-size: 1.5rem;
    grid-area: 2 / 1 / 3 / 4;
    text-align: justify;
    transition: all 0.7s ease;
}

#naslovVestine {
    display: none;
    align-self: last baseline;
    font-size: 2rem;
    color: #5D3FD3;
}

/* MY PROJECTS */

#secMyProjects {
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
}

#myProjectsNaslov {
    font-size: 3rem;
    color: #5D3FD3;
}

#myProjectsDiv {
    border: 3px solid #5D3FD3;
    border-radius: 8px;
    background-color: #1E1E1E;
    color: #F9F9F9;
    height: 26vh;
    width: 70vw;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    justify-content: center;

    transition: all 0.7s ease;
}

#myProjectsDiv:hover {
    border: 3px solid #4d29dc;
    background-color: #111010;
    color: #b9b7b7;
}

#myProjectsDiv>* {
    transition: all 0.3s ease;
    /* svaka promena child-a se animira */
}

#GHLogo {
    height: 10vh;
}

#GHTekst {
    font-size: 1.3rem;
}

#GitHubLink {
    text-decoration: none;
}

#GHallProjects {
    color: #D9D9D9;
    font-size: 1.1rem;

    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    margin: 0;
}

#GHallProjects.show {
    opacity: 1;
    transform: translateY(0);
}

#GitHubLink:hover #GHLogo {
    transform: scale(0.8);
    /* smanjenje slike */
}

#GitHubLink:hover #GHTekst {
    transform: translateY(-5px);
    /* pomeranje teksta gore */
    font-size: 1.1rem;
}

/* SOCIALS */

#secContact {
    background-color: #1E1E1E;
    height: min-content;
}

#Socials {
    padding: 5vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

#SocialsNaslov {
    color: #5D3FD3;
    font-size: 2.5rem;
}

#socialsDiv {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    width: 50%;
    align-items: center;
}

.socialMediaPic {
    height: 15vh;
}

#discordName {
    text-align: center;
    color: rgba(249, 249, 249, 0.8);
    font-size: 1.1rem;
}

/* CONTACT FORM */

#formaDiv {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6.5vh;
}

#formah5 {
    font-size: 2.5rem;
    color: #5D3FD3;
    text-align: center;
    margin-bottom: 2vh;
}

#formah6 {
    font-size: 2rem;
    color: #5D3FD3;
    text-align: center;
}

#kontaktForma {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
}

#kontaktForma label {
    color: #5D3FD3;
    font-size: 1.2rem;
    font-weight: 700;
}

#kontaktForma input {
    width: clamp(80px, 75vw, 500px);
    height: 5.5vh;
    background-color: #F9F9F9;
    border: none;
    font-size: 1.1rem;
    color: #1E1E1E;
    padding-left: 0.3vw;
}

#kontaktForma textarea {
    width: clamp(80px, 75vw, 500px);
    height: 10.5vh;
    background-color: #F9F9F9;
    font-size: 1.3rem;
    color: #1E1E1E;
    padding-left: 0.3vw;
}

.formaLblInput {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}

#formaDugmad {
    margin-top: 2vh;

    display: flex;
    justify-content: center;
    gap: 1vw;
}

#formaDugmad button {
    font-size: 1.2rem;
    padding: clamp(10px, 2.5vh, 16.5px) clamp(22px, 9vw, 65px);

    border: 3px solid #F9F9F9;
    border-radius: 16px;
    background-color: #C9A7F5;
    color: #F9F9F9;
    cursor: pointer;
}

#formaDugmad button:hover {
    border: 3px solid #D9D9D9;
    background-color: #a07ecc;
    color: #D9D9D9;
    transition-duration: 0.7s;
}

/* FOOTER */

footer {
    padding-top: 6vh;
    height: 10vh;
    background-color: #1E1E1E;
}

#futerTekst {
    color: #5D3FD3;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 700;
}

/* MEDIA QUERIES */

@media (min-width: 425px) {
    .hamburgerDeo {
        width: 8.5vw;
    }
}

@media (min-width: 480px) {
    #headerDiv {
        padding: 3.5vh 3vw;
    }

    #hamburgerMenu {
        height: 7.5vh;
    }

    .hamburgerDeo {
        height: 1.1vh;
        margin: 0.1rem auto;
    }

    #headerLinkovi {
        top: 13vh;
    }

    #hamburgerMenu.Active .hamburgerDeo:nth-child(1) {
        transform: translateY(13px) rotate(45deg);
    }

    #secWhyMe {
        padding-top: 22vh;
    }

    #formaNaslovi {
        margin: 0 5vw;
    }

}

@media (min-width: 700px) {
    #headerDiv {
        padding: 6vh 3vw;
    }

    #hamburgerMenu {
        height: 10vh;
    }

    .hamburgerDeo {
        height: 1.5vh;
        margin: 0.1rem auto;
    }

    #headerLinkovi {
        top: 20vh;
    }

    #hamburgerMenu.Active .hamburgerDeo:nth-child(1) {
        transform: translateY(18px) rotate(45deg);
    }

    #secWhyMe {
        height: 66vh;
        padding-top: 34vh;
    }

    #hamburgerMenu.Active {
        padding-bottom: 1vh;
    }

}

@media (min-width: 768px) {
    #headerDiv {
        font-size: 1.5rem;
    }

    .headerLink {
        font-size: 2.3rem;
    }

    .aboutMeKarta {
        width: 35vw;
    }

    #myProjectsDiv {
        width: 35vw;
    }

    #whyMeText {
        margin: 0 15vw;
    }

}

@media (min-width: 950px) {
    #hamburgerMenu {
        width: 10%;
    }

    .hamburgerDeo {
        margin: 0.2rem auto;
        width: 6vw;
    }

    #hamburgerMenu.Active .hamburgerDeo:nth-child(1) {
        transform: translateY(23px) rotate(45deg);
    }

    #hamburgerMenu.Active {
        padding-bottom: 2vh;
    }

}

@media (min-width: 1024px) {
    #hamburgerMenu {
        display: none;
    }

    #headerLinkovi {
        background-color: #1E1E1E;
        display: flex;
        flex-direction: row;
        gap: 2.5vw;
        align-items: end;
        position: relative;
        left: auto;
        top: auto;
        width: fit-content;
        text-align: center;
        transition-duration: 0.3s;
    }

    .headerLink {
        text-decoration: none;
        color: #5D3FD3;
        font-size: 1.6rem;
        font-weight: 700;
        margin: 0 0;
    }

    #headerDiv {
        padding: 6vh 3vw;
        font-size: 1.5rem;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #secContact {
        display: flex;
        justify-content: space-evenly;
        padding-top: 10vh;
    }

    #Socials {
        padding-top: 13vh;
    }

    .socialMediaPic {
        height: 8.5vh;
    }

    #formaDiv {
        margin: 0;
    }

    #GHallProjects {
        font-size: 1.3rem;
    }

}

@media (min-width: 1280px) {
    #whyMeText {
        font-size: 2rem;
        margin: 0 25vw;
    }

    #secWhyMe {
        height: 72vh;
    }

    #aboutMeFlex {
        flex-direction: row;
        justify-content: center;
        gap: 4vh;
    }

    #profilnaSlika {
        border-radius: 8px;
        height: 60vh;
        width: 23vw;
    }

    #aboutMeKartice {
        width: calc(45vw + 6vh);
        display: grid;
        gap: 3vh;
        align-items: none;
        flex-direction: none;
        grid-template-rows: repeat(3, 20vh);
        grid-template-columns: repeat(3, 15vw);
        justify-items: center;
    }

    .aboutMeKarta {
        height: 20vh;
        width: 15vw;
        padding: 1vh;
    }

    #secAboutMe {
        height: 92vh;
    }

    #backButton {
        /* display: block; */
        justify-self: start;
        align-self: baseline;
        padding: 0.5vh 0.7vw;
        background-color: #5D3FD3;
        border: 1px solid #C9A7F5;
        border-radius: 8px;
        cursor: pointer;
        transition-duration: 0.7s;
    }

    #backButton:hover {
        background-color: #654ebf;
        border: 1px solid #a07ecc;
    }

    #miniKartice {
        /* display: flex; */
        justify-self: end;
        align-self: baseline;
        gap: 0.7vw;
    }

    .miniKartica {
        width: 1.8vw;
        height: 3vh;
        border: 2px solid #5D3FD3;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.7s ease;
    }

    .miniKartica:hover {
        border: 2px solid #4d29dc;
        background-color: #b9b7b7;
    }

    .oznacenaKartica {
        background-color: #4d29dc;
    }

    /* GRID - ABOUT ME */
    #miniKartice {
        grid-area: 1 / 3 / -3 / 4;
    }

    #skillsKarta {
        grid-area: 2 / 1 / 3 / 2;
    }

    #ExpKarta {
        grid-area: 2 / 2 / 3 / 3;
    }

    #EduKarta {
        grid-area: 2 / 3 / 3 / 4;
    }

}

@media (min-width: 1920px) {
    #headerDiv {
        padding: 2vh 3vw;
        font-size: 1.2rem;
    }

    #whyMeNaslov {
        font-size: 4.6rem;
    }

    #secWhyMe {
        padding: 24vh 5vw;
        height: 66vh;
    }

    #aboutMeNaslov {
        font-size: 3.7em;
    }

    #profilnaSlika {
        height: 52vh;
        width: 18vw;
    }

    .aboutMeKarta {
        height: 20vh;
        width: 12vw;
    }

    #secAboutMe {
        height: 82vh;
    }

    #myProjectsNaslov {
        font-size: 3.7em;
    }

    #myProjectsDiv {
        width: 23vw;
    }

    #GHLogo {
        height: 14vh;
    }

    #GHTekst {
        font-size: 1.5rem;
    }

}

/* DARK MODE */

/* HEADER */

body.dark-mode header {
    background-color: #F9F9F9;
}

body.dark-mode .naslovHeader {
    color: #1E1E1E;
}

body.dark-mode .naslovSpan {
    color: #5D3FD3;
}

body.dark-mode #hamburgerMenu {
    background-color: #5D3FD3;
    border: 1px solid #5D3FD3;
}

body.dark-mode .hamburgerDeo {
    background-color: #F9F9F9;
}

body.dark-mode #headerLinkovi {
    background-color: #F9F9F9;
}

body.dark-mode .headerLink {
    text-decoration: none;
    color: #5D3FD3;
}

body.dark-mode .headerLink:hover {
    transition-duration: 0.7s;
    color: #C9A7F5;
}

/* WHY ME */

body.dark-mode #secWhyMe {
    background-image: url(Pictures/WhyMeBackground_White.jpg);
    background-color: rgba(131, 130, 130, 0.2);
    /* Poluprovidna crna */
}

body.dark-mode #whyMeNaslov {
    color: #654ebf;
    text-shadow: 2px 2px 15px rgba(75, 74, 74, 0.6);
}

body.dark-mode #whyMeText {
    color: #654ebf;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
}

/* ABOUT ME */

body.dark-mode #secAboutMe {
    background-color: #1E1E1E;
}

body.dark-mode #aboutMeNaslov {
    color: #5D3FD3;
}

body.dark-mode #profilnaSlika {
    border: 3px solid #5D3FD3;
}

body.dark-mode .aboutMeKarta {
    border: 3px solid #5D3FD3;
    color: #F9F9F9;
}

body.dark-mode .aboutMeKarta:hover {
    border: 3px solid #4d29dc;
    background-color: #b9b7b7;
    color: #111010;
}

body.dark-mode .vestineOpis {
    color: #D9D9D9;
}

body.dark-mode .tekstVestine {
    color: #D9D9D9;
}

body.dark-mode .miniKartica {
    background-color: #3e3e3e;
}

body.dark-mode .oznacenaKartica {
    background-color: #C9A7F5;
}

body.dark-mode #backButton {
    background-color: #3e3e3e;
    border: 1px solid #5D3FD3;
}

body.dark-mode #backButton:hover {
    background-color: #484747;
    border: 1px solid #a07ecc;
}

/* MY PROJECTS */

body.dark-mode #myProjectsNaslov {
    color: #5D3FD3;
}

body.dark-mode #myProjectsDiv {
    border: 3px solid #5D3FD3;
    background-color: #F9F9F9;
    color: #1E1E1E;
}

body.dark-mode #myProjectsDiv:hover {
    border: 3px solid #4d29dc;
    background-color: #b9b7b7;
    color: #111010;
}

body.dark-mode #GHallProjects {
    color: #3e3e3e;
}

/* SOCIALS */

body.dark-mode #secContact {
    background-color: #F9F9F9;
}

body.dark-mode #SocialsNaslov {
    color: #5D3FD3;
}

body.dark-mode #discordName {
    color: rgba(4, 4, 4, 0.8);
}

/* CONTACT FORM */

body.dark-mode #formah5 {
    color: #5D3FD3;
}

body.dark-mode #formah6 {
    color: #5D3FD3;
}

body.dark-mode #kontaktForma label {
    color: #5D3FD3;
}

body.dark-mode #kontaktForma input {
    background-color: #1E1E1E;
    color: #5D3FD3;
}

body.dark-mode #kontaktForma textarea {
    background-color: #1E1E1E;
    color: #5D3FD3;
}

body.dark-mode #formaDugmad button {
    border: 3px solid #1E1E1E;
    background-color: #5D3FD3;
    color: #1E1E1E;
}

body.dark-mode #formaDugmad button:hover {
    border: 3px solid #3e3e3e;
    background-color: #C9A7F5;
    color: #3e3e3e;
}

/* FOOTER */

body.dark-mode footer {
    background-color: #F9F9F9;
}

body.dark-mode #futerTekst {
    color: #1E1E1E;
}

/* ANIMACIJE */

/* ABOUT ME */

@keyframes aboutMeKarta_Anim {
    0% {}

    100% {
        transform: translateY(-15px);
        opacity: 0;
        display: none;
    }
}

.aboutMeKarta_Anim {
    animation-name: aboutMeKarta_Anim;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes InAnim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.InAnim {
    animation-name: InAnim;
    animation-duration: 2.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes OutAnim {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateX(60px);
    }
}

.OutAnim {
    animation-name: OutAnim;
    animation-duration: 1.7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}